<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="news"></ion-icon>
      <ion-label>news</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support">
      <ion-icon name="people"></ion-icon>
      <ion-label>support groups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicine">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>medicine</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="opinion">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>opinions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon name="star-half"></ion-icon>
      <ion-label>reviews</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
