<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let newsCard of newsCards" class="welcome-card">
    <ion-card-header>
      <ion-card-title>{{newsCard.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{newsCard.body}}</p>
      <ion-label>Upvote</ion-label><ion-checkbox [(ngModel)]="newsCard.votesUp"></ion-checkbox>
      <ion-label>Downvote</ion-label><ion-checkbox [(ngModel)]="!newsCard.votesUp"></ion-checkbox>
    </ion-card-content>
  </ion-card>
</ion-content>
